@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap');


.servicesList-container {
    //background: url('../../../public/images/streetView-BnW.jpg') center center/cover no-repeat fixed;
    background-color: #889138;
    width: 100%;
    height: flex;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    object-fit: contain;
    z-index: -1;
    overflow: hidden;
    padding-bottom: 20px;
}

.servicesList-header{
    color: white;
    font-size: calc(25px + 1.8vw);
    font-family: "Dancing Script", cursive;
    margin-bottom: calc(30px + 2vw);
    margin-top: calc(80px + 3vw);
  }