@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.contact-container {
    background-color: #2f7745;
    width: 100%;
    min-height: 100vh;
    height: flex;
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: center;
    object-fit: contain;
    z-index: 21;
    overflow: hidden;
}

.contact-info-wrap{
    //background-color: #9b2d2d;
    width: 90%;
    height: 100%;
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: center;
    object-fit: contain;
    flex-wrap: wrap;
    z-index: 21;
}

.logo-black-container{
    background: url('../../../public/images/SP-LOGO.png') center center no-repeat;
    background-size: 100%;
    //background-color: purple;
    width: calc(150px + 7vw);
    height:calc(150px + 7vw);
    display: flex;
    z-index: 30;
    justify-content: center;
    align-items: center;
}


.left-container{
    //background-color: blue;
    width: 300px;
    height: flex;
    display: flex;
    z-index: 30;
    justify-content: left;
    align-items: top;
    flex-direction: column;
    margin: 5%;
    margin-top: 50px;
}

.right-container{
    //background-color: blue;
    width: 500px;
    height: flex;
    display: flex;
    z-index: 30;
    justify-content: left;
    align-items: top;
    flex-direction: column;
    margin: 5%;
}


.h30{
    font-family: "Dancing Script", cursive;
    font-size: calc(35px + 0.2vw);
    margin-top: calc(15px + 1vw);
    letter-spacing: 2px;
    font-weight: bold;
}
  
.p30{
    font-family: "Old Standard TT";
    //color: #555555;
    //color: #572D87;
    font-size: 19px;
    font-weight: bold;
    margin-top: 13px;
    line-height: 35px;
    text-decoration: inherit;
}

.input-competition{
    margin-bottom: 10px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: rgb(0, 0, 0)
}




.map-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
  }
  
  .map-container iframe {
    max-width: 100%;
    border: 0;
  }


  
.input-suggestion{
    display: flex;
    height: 30px;
    width: 100%;
    border-width: 2px;
    
    float: left;
    padding: 5px;
    box-sizing: border-box;
    //font-size: 16px;
    resize: vertical;
}

  .input-suggestion2{
    display: flex;
    height: 100px;
    width: 100%;
    border-width: 2px;
    
    float: left;
    padding: 5px;
    box-sizing: border-box;
    //font-size: 16px;
    resize: vertical;
}

.suggestion-button{
    color: white;
    background-color: #031f00;
    width: 50%;
    padding: calc(5px + 0.1vw);
    margin-top: 40px;
    font-weight: 600;
    font-size: calc(12px + 0.2vw);
}

.suggestion-button:hover{
    cursor: pointer;
}

.confText {
    color: rgb(255, 255, 255);
    opacity: 100%;
    font-style: italic;
  }

  .errorText {
    color: rgb(116, 18, 18);
    opacity: 100%;
    font-style: italic;
    font-weight: bold;
  }

@media screen and (max-width: 1700px) {
   
    .left-container{
        margin-top: 100px;
    }

    .map-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0% 0% 5% 0%;
      }
    
  }