.service-container {
    background-color: #057083;
    width: 100%;
    min-height: 100vh;
    height: flex;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    object-fit: contain;
    z-index: 21;
    overflow: hidden;
    justify-content: center;
}

.service-info-container{
    background-color: #d8d8d8;
    width: calc(200px + 40vw);
    min-height: calc(470px + 9vw);
    height: flex;
    display: flex;
    flex-flow: row;
    justify-content: center;
    flex-wrap: wrap;
    //flex-direction: column;
    //margin-top: calc(50px + 5vw);
    //border-radius: 20px;
    box-shadow: 3px 3px 20px rgb(88, 88, 88);

    //align-items: center;
    object-fit: contain;
    z-index: 21;
    overflow: hidden;
    //padding: calc(15px + 1vw);
}

.service-left-container{
    //background-color: rgb(182, 172, 172);
    width: 40%;
    height: 100%;
    display: flex;
    z-index: 30;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    //padding: 60px 40px 60px 40px;
}

.service-right-container{
    //background-color: rgb(185, 87, 87);
    width: 60%;
    height: 100%;
    display: flex;
    z-index: 30;
    justify-content: top;
    align-items: top;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 30px;
}

.service-picture-container{
    background-color: #000000;
    width: calc(150px + 6vw);
    height: calc(150px + 6vw);
    display: flex;
    border-radius: 10px;
    //box-shadow: 3px 3px 20px black;
    margin-top: 45%;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    z-index: 21;
    overflow: hidden;
}

.service-name-container{
    //background-color: #aa3232;
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: calc(12px + 0.6vw);
    font-weight: bold;
    text-align: center; 
    width: flex;
    height: flex;
    display: flex;
    margin-top: calc(7px + 2vw);
    align-items: center;
    object-fit: contain;
    z-index: 21;
    overflow: hidden;
}

.service-info-head-container{
    //background-color: #000000;
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: calc(12px + 0.6vw);
    font-weight: bold;
    width: flex;
    height: flex;
    display: flex;
    margin-top: calc(15px + 1vw);
    align-items: center;
    justify-content: center;
    object-fit: contain;
    z-index: 21;
    overflow: hidden;
    text-align: center;
    padding-left: 7%;
    padding-right: 7%;
}

.service-info-text-container{
    //background-color: #000000;
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: calc(11px + 0.5vw);
    width: flex;
    height: flex;
    display: flex;
    margin-top: calc(7px + 0.5vw);
    align-items: center;
    justify-content: center;
    object-fit: contain;
    z-index: 21;
    overflow: hidden;
    padding: 7%;
    text-align: center;
}
.sserv-button-container{
    display: flex;
    justify-content: center;   
    width: 100%;
    height: flex;
    object-fit: contain;
    margin-top: auto;
    margin-bottom: 10%;
  }
.sserv-button{
    color: #000000;
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    width: flex;
    height: 100%;
    padding: 1% 2% 1% 2%;
    text-decoration: none;
  
    border-width: calc(1px + 0.08vw);
    border-style: solid;
    border-radius: 25px;
    border-color: #000000;
    font-size: calc(10px + 0.5vw);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .sserv-button:hover{
    background-color: rgb(185, 185, 185);
    cursor: pointer;
  }

  .sserv-button:active{
    background-color: rgb(146, 146, 146);
    cursor: pointer;
  }


@media screen and (max-width: 1700px) {
    .service-info-container{
        margin-top: 100px;
    }
    .service-left-container{
        width: 100%;
        height: 35%;
    }
    
    .service-right-container{
        width: 100%;
        height: 65%;
    }

    .service-picture-container{
        margin-top: calc(55px - 1.5vw);
    }

    .service-right-container{
        padding-top: 20px;
    }
  }